In [1]:
library(tidyverse)
if (!dir.exists("intermediate")) dir.create("intermediate", recursive = TRUE)
if (!exists("mdpre")) mdpre <- function(x) { print(x) }
if (!exists("ggmd"))  ggmd  <- function(p) { print(p) }

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.5.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.1
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [34]:
patient_names <- read.csv("patient_names.csv")
patient_properties <- read.csv("patient_properties.csv")
print(head(patient_names, 10))
print(head(patient_properties, 10))

                                     ID BIRTHDATE DEATHDATE      FIRST
1  5605b66b-e92d-c16c-1b83-b8bf7040d51f   3/19/77      <NA>  Nikita578
2  6e5ae27c-8038-7988-e2c0-25a103f01bfa   2/19/40      <NA>    Zane918
3  8123d076-0886-9007-e956-d5864aa121a7    6/4/58      <NA>   Quinn173
4  770518e4-6133-648e-60c9-071eb2f0e2ce  12/25/28   9/29/17    Abel832
5  f96addf5-81b9-0aab-7855-d208d3d352c5  12/25/28   2/23/14   Edwin773
6  8e9650d1-788a-78f9-4a28-d08f7f95354a  12/25/28      <NA> Frankie174
7  183df435-4190-060e-8f8e-bf63c572b266   11/8/57      <NA>  Eilene124
8  720560d4-51da-c38c-ee90-c15935278df1   6/27/72      <NA>  Lowell343
9  217851b0-5f47-d376-18b9-0fe4ba77207e    3/6/54      <NA>  Adrian111
10 ff331e5c-ab16-e218-f39a-63e11de1ed75   7/10/27      <NA>  Eugene421
             LAST      CITY         STATE
1       Erdman779    Quincy Massachusetts
2   Hodkiewicz467    Boston Massachusetts
3    Marquardt819    Quincy Massachusetts
4      Smitham825    Boston Massachusetts
5      Labadie908    Boston Massachusetts
6  Oberbrunner298    Boston Massachusetts
7        Walsh511 Cambridge Massachusetts
8        Price929    Quincy Massachusetts
9      Gleason633    Boston Massachusetts
10   Abernathy524    Boston Massachusetts
                                     ID  property       value
1  5605b66b-e92d-c16c-1b83-b8bf7040d51f   MARITAL           M
2  5605b66b-e92d-c16c-1b83-b8bf7040d51f      RACE       white
3  5605b66b-e92d-c16c-1b83-b8bf7040d51f ETHNICITY nonhispanic
4  5605b66b-e92d-c16c-1b83-b8bf7040d51f    GENDER           F
5  6e5ae27c-8038-7988-e2c0-25a103f01bfa   MARITAL           M
6  6e5ae27c-8038-7988-e2c0-25a103f01bfa      RACE       white
7  6e5ae27c-8038-7988-e2c0-25a103f01bfa ETHNICITY nonhispanic
8  6e5ae27c-8038-7988-e2c0-25a103f01bfa    GENDER           M
9  8123d076-0886-9007-e956-d5864aa121a7   MARITAL           M
10 8123d076-0886-9007-e956-d5864aa121a7      RACE       white

In [35]:
patient_properties_wide <- patient_properties %>%
  pivot_wider(
    names_from = "property",
    values_from = "value"
  )
print(head(patient_properties_wide, 10))

# A tibble: 10 × 5
   ID                                   MARITAL RACE   ETHNICITY   GENDER
   <chr>                                <chr>   <chr>  <chr>       <chr>
 1 5605b66b-e92d-c16c-1b83-b8bf7040d51f M       white  nonhispanic F
 2 6e5ae27c-8038-7988-e2c0-25a103f01bfa M       white  nonhispanic M
 3 8123d076-0886-9007-e956-d5864aa121a7 M       white  nonhispanic M
 4 770518e4-6133-648e-60c9-071eb2f0e2ce M       white  hispanic    M
 5 f96addf5-81b9-0aab-7855-d208d3d352c5 M       white  hispanic    M
 6 8e9650d1-788a-78f9-4a28-d08f7f95354a M       white  hispanic    M
 7 183df435-4190-060e-8f8e-bf63c572b266 M       asian  nonhispanic F
 8 720560d4-51da-c38c-ee90-c15935278df1 M       white  nonhispanic M
 9 217851b0-5f47-d376-18b9-0fe4ba77207e S       black  hispanic    M
10 ff331e5c-ab16-e218-f39a-63e11de1ed75 M       native hispanic    M

In [36]:
joined_data <- left_join(patient_names, patient_properties_wide, by = "ID")
print(head(joined_data,10))

                                     ID BIRTHDATE DEATHDATE      FIRST
1  5605b66b-e92d-c16c-1b83-b8bf7040d51f   3/19/77      <NA>  Nikita578
2  6e5ae27c-8038-7988-e2c0-25a103f01bfa   2/19/40      <NA>    Zane918
3  8123d076-0886-9007-e956-d5864aa121a7    6/4/58      <NA>   Quinn173
4  770518e4-6133-648e-60c9-071eb2f0e2ce  12/25/28   9/29/17    Abel832
5  f96addf5-81b9-0aab-7855-d208d3d352c5  12/25/28   2/23/14   Edwin773
6  8e9650d1-788a-78f9-4a28-d08f7f95354a  12/25/28      <NA> Frankie174
7  183df435-4190-060e-8f8e-bf63c572b266   11/8/57      <NA>  Eilene124
8  720560d4-51da-c38c-ee90-c15935278df1   6/27/72      <NA>  Lowell343
9  217851b0-5f47-d376-18b9-0fe4ba77207e    3/6/54      <NA>  Adrian111
10 ff331e5c-ab16-e218-f39a-63e11de1ed75   7/10/27      <NA>  Eugene421
             LAST      CITY         STATE MARITAL   RACE   ETHNICITY GENDER
1       Erdman779    Quincy Massachusetts       M  white nonhispanic      F
2   Hodkiewicz467    Boston Massachusetts       M  white nonhispanic      M
3    Marquardt819    Quincy Massachusetts       M  white nonhispanic      M
4      Smitham825    Boston Massachusetts       M  white    hispanic      M
5      Labadie908    Boston Massachusetts       M  white    hispanic      M
6  Oberbrunner298    Boston Massachusetts       M  white    hispanic      M
7        Walsh511 Cambridge Massachusetts       M  asian nonhispanic      F
8        Price929    Quincy Massachusetts       M  white nonhispanic      M
9      Gleason633    Boston Massachusetts       S  black    hispanic      M
10   Abernathy524    Boston Massachusetts       M native    hispanic      M

In [37]:
joined_data <- joined_data %>%
  mutate(
    FIRST = str_replace_all(FIRST, "[^a-zA-Z]", ""),
    LAST = str_replace_all(LAST, "[^a-zA-Z]", "")
  )
print(head(joined_data, 10))

                                     ID BIRTHDATE DEATHDATE   FIRST        LAST
1  5605b66b-e92d-c16c-1b83-b8bf7040d51f   3/19/77      <NA>  Nikita      Erdman
2  6e5ae27c-8038-7988-e2c0-25a103f01bfa   2/19/40      <NA>    Zane  Hodkiewicz
3  8123d076-0886-9007-e956-d5864aa121a7    6/4/58      <NA>   Quinn   Marquardt
4  770518e4-6133-648e-60c9-071eb2f0e2ce  12/25/28   9/29/17    Abel     Smitham
5  f96addf5-81b9-0aab-7855-d208d3d352c5  12/25/28   2/23/14   Edwin     Labadie
6  8e9650d1-788a-78f9-4a28-d08f7f95354a  12/25/28      <NA> Frankie Oberbrunner
7  183df435-4190-060e-8f8e-bf63c572b266   11/8/57      <NA>  Eilene       Walsh
8  720560d4-51da-c38c-ee90-c15935278df1   6/27/72      <NA>  Lowell       Price
9  217851b0-5f47-d376-18b9-0fe4ba77207e    3/6/54      <NA>  Adrian     Gleason
10 ff331e5c-ab16-e218-f39a-63e11de1ed75   7/10/27      <NA>  Eugene   Abernathy
        CITY         STATE MARITAL   RACE   ETHNICITY GENDER
1     Quincy Massachusetts       M  white nonhispanic      F
2     Boston Massachusetts       M  white nonhispanic      M
3     Quincy Massachusetts       M  white nonhispanic      M
4     Boston Massachusetts       M  white    hispanic      M
5     Boston Massachusetts       M  white    hispanic      M
6     Boston Massachusetts       M  white    hispanic      M
7  Cambridge Massachusetts       M  asian nonhispanic      F
8     Quincy Massachusetts       M  white nonhispanic      M
9     Boston Massachusetts       S  black    hispanic      M
10    Boston Massachusetts       M native    hispanic      M

In [39]:
mdpre <- function(x){
  cat("\n```\n")
  print(x)
  cat("\n```\n")
}
categorical_cols <- c("CITY", "STATE", "MARITAL", "RACE", "ETHNICITY", "GENDER")
for (col_name in categorical_cols) {
  
  cat("\n***\n")
  cat(paste("Counts for column:", col_name))
  cat("\n***\n")
  
  counts <- joined_data %>%
    count(!!sym(col_name), sort = TRUE)
  mdpre(counts)
}

***
Counts for column: CITY
***

```
             CITY   n
1          Boston 541
2          Quincy  80
3       Cambridge  45
4          Revere  42
5         Chelsea  39
6        Weymouth  37
7      Somerville  25
8         Hingham  22
9        Winthrop  22
10      Brookline  17
11        Everett  16
12           Hull  15
13        Medford  13
14      Braintree  10
15       Cohasset  10
16         Malden   8
17       Scituate   8
18         Newton   6
19       Stoneham   5
20 North Scituate   3
21        Reading   2
22        Belmont   1
23      Lynnfield   1
24        Melrose   1
25         Milton   1
26        Norwell   1
27        Waltham   1
28      Watertown   1
29     Winchester   1

```

***
Counts for column: STATE
***

```
          STATE   n
1 Massachusetts 974

```

***
Counts for column: MARITAL
***

```
  MARITAL   n
1       M 782
2       S 189
3    Fine   1
4    male   1
5    <NA>   1

```

***
Counts for column: RACE
***

```
      RACE   n
1    white 680
2    black 163
3    asian  90
4    other  16
5 hawaiian  13
6   native  11
7   asiann   1

```

***
Counts for column: ETHNICITY
***

```
    ETHNICITY   n
1 nonhispanic 781
2    hispanic 190
3  nonhispani   2
4     hispani   1

```

***
Counts for column: GENDER
***

```
  GENDER   n
1      M 493
2      F 478
3 Female   1
4   Male   1
5 female   1

```

In [40]:
joined_data$MARITAL[joined_data$MARITAL %in% c("Fine", "male")] <- NA
library(dplyr)
joined_data <- joined_data %>%
  mutate(RACE = recode(RACE, "asiann" = "asian"))
joined_data <- joined_data %>%
  mutate(ETHNICITY = recode(ETHNICITY,
                            "nonhispani" = "nonhispanic",
                            "hispani"    = "hispanic"))

joined_data <- joined_data %>%
  mutate(GENDER = recode(GENDER,
                         "Female" = "F",
                         "female" = "F",
                         "Male"   = "M"))

In [41]:
mdpre <- function(x){
  cat("\n```\n")
  print(x)
  cat("\n```\n")
}
categorical_cols <- c("CITY", "STATE", "MARITAL", "RACE", "ETHNICITY", "GENDER")
for (col_name in categorical_cols) {
  
  cat("\n***\n")
  cat(paste("Counts for column:", col_name))
  cat("\n***\n")
  
  counts <- joined_data %>%
    count(!!sym(col_name), sort = TRUE)
  mdpre(counts)
}

***
Counts for column: CITY
***

```
             CITY   n
1          Boston 541
2          Quincy  80
3       Cambridge  45
4          Revere  42
5         Chelsea  39
6        Weymouth  37
7      Somerville  25
8         Hingham  22
9        Winthrop  22
10      Brookline  17
11        Everett  16
12           Hull  15
13        Medford  13
14      Braintree  10
15       Cohasset  10
16         Malden   8
17       Scituate   8
18         Newton   6
19       Stoneham   5
20 North Scituate   3
21        Reading   2
22        Belmont   1
23      Lynnfield   1
24        Melrose   1
25         Milton   1
26        Norwell   1
27        Waltham   1
28      Watertown   1
29     Winchester   1

```

***
Counts for column: STATE
***

```
          STATE   n
1 Massachusetts 974

```

***
Counts for column: MARITAL
***

```
  MARITAL   n
1       M 782
2       S 189
3    <NA>   3

```

***
Counts for column: RACE
***

```
      RACE   n
1    white 680
2    black 163
3    asian  91
4    other  16
5 hawaiian  13
6   native  11

```

***
Counts for column: ETHNICITY
***

```
    ETHNICITY   n
1 nonhispanic 783
2    hispanic 191

```

***
Counts for column: GENDER
***

```
  GENDER   n
1      M 494
2      F 480

```